@media screen and (min-width: 1115px) {
    main {
        margin: 0;
    }

    .container {
        grid-template-areas: 'one one two five'
            'three four four five';
        /* grid-template-columns: auto auto; */
        width: 1113px;
        gap: 18px;
    }

    .one {
        width: 562px;
    }

    .two {
        width: 261px;
    }

    .three {
        width: 273px;
    }

    .four {
        width: 550px;
    }

    .five {
        width: 260px;
    }

    .one .heading {
        width: 81%;
    }

    .two .heading {
        width: 86%;
    }

    .three .heading {
        width: 73%;
    }

    .four .heading {
        width: 91%;
    }

    .five .heading {
        width: 100%;
    }
}